*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #f1f1f1;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.fa:hover{
  color:#176802;
}
.banaketa{
  padding:6rem;
}
.banaketaTxikia{
  padding:1rem;
}
header{
  text-align: center;
  background: #ccc;
  display: block;
  height: 175px;
}
/*goiburua orri guztietan berdina 

header h1{
font-family: monospace;
font-size: 30px;
font-weight: 600;
color:rgb(2, 2, 130);
}
header span{
  color:#110392;
  cursor: pointer;
  font-size: x-large;
}
header span:hover{
  color:#176802;
}*/
.goiburua{
  float:right;
  /*display: grid;
  grid-template-columns: auto auto;
  gap: 10px;*/
}
/*.goiburua .menua-btn{
  align-content: right;
}
*/
.goiburua .titulu-nagusia{
  align-content: left;
}
.goiburua .titulu-nagusia h1{
  font-size: 2em;
}
.goiburua .titulu-nagusia h1:hover{
  color:#176802;
}
.goiburua .prais-ikonoa{
  margin-top:1em;
}
.goiburua .prais-ikonoa img{
  align-content: center;
  width: 100px;
}
/*Goiburua ------------------- HONAINO */

/*gorputzeko erregela orokorrak*/
main{
  width: 60%;
  display: block;
  transition: margin-left .4s;
  margin: 0 auto;
}
section article{
  display: block;
  margin-top: 16px !important;
  margin-bottom: 8px !important;
}
pre{
  width: 70%;
  margin:0 auto;
  border:1px darkblue dashed;
  text-align: left;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 20em;
}
h2{
  font-family: monospace;
  font-size: 34px;
  padding-top: 25px;
  color:rgb(2, 2, 130);
}
h3{
  font-family: monospace;
  font-size: 30px;
  padding-top: 25px;
  color:rgb(2, 2, 130);
}
h4{
  font-family: monospace;
  font-size: 26px;
  color:rgb(2, 2, 130);
}
h5{
  font-family: monospace;
  font-size: 20px;
  color:rgb(2, 2, 130);
}
h6{
  text-indent: 1em;
  font-size: 14px;
  color:rgb(2, 2, 130);
}
p{
  font-family: system-ui, sans-serif;
  font-weight: 400;
  text-indent: 1em;
  margin-bottom:10px;
  text-align: justify;
  font-size: 16px;
}
/*Goi goiko ikonoari dagzokionak.......*/
.praisikon{
  width: 8rem;
}
.praisikonoa{
  width: 8rem;
}
.praisikonoa:hover{
  width: 7rem;
}
/*Azpitituluei dagozkienak.......*/
.azpitituluak{
  width: 100%;
  background-color: #ccc;
  padding-left: 1em;
  padding-bottom: 1em;
  vertical-align: middle;
  margin-bottom: 2em;
}
.azpitituluak h3{
  text-align: center;
}
/*Botoiak...................*/
.botoia{
  background-color: #2196F3;
  width: 100%;
  padding:10px;
  color: #f1f1f1;
  border-radius: 5px;
  margin:50px;
}
.botoia:hover{
  background-color: #110392;
}
.botoikutxa{
  box-shadow: 0 4px 10px 0 rgba(97, 178, 250, 0.2), 0 4px 50px 0 rgba(1, 141, 247, 0.19);
  padding:.5rem;
  color: #f1f1f1;
  border-radius: 5px;
  margin:.2rem;
  text-align: left;
}
.botoikutxa a{
  margin-top:.2rem;
}
.botoikutxa a:hover{
  color:#176802;
  padding: .2rem;
}
/*Irudiei dagozokienak.......*/
.irudiKutxa{
  padding: 20px;
  text-align: center;
}
.irudiKutxaEzk{
  float: left;
  padding: 0px 20px 0px 0px;
}
.irudiKutxaEsk{
  float: right;
  padding: 0px 20px 40px 0px;
}
figcaption{
  color:#110392;
  font-style: italic;
  font-size: 1em;
  text-align: center;
}
.irudiTestuKaxa{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.irudiTestua{
text-align: left;
}
irudiKaxa{
text-align: center;
}

/*Azalpenak emateko koadro grisak letra urdinskarekin (h6).......*/
.garrantzi-oinarrizko{
  padding: 1rem;
  text-align: justify;
  background: #d5d5d5;
  margin-top: 1rem;
  margin-bottom: .5rem;  
}
.garrantzi-oinarrizko p{
  font-size: 1em;
  font-family: system-ui, sans-serif;
  font-weight: 400;
  color:#110392;
}
.garrantzi-oinarrizko a:hover{
  color:#085e02;
  font-weight: 700;
}
/*Zerrenden kontuak.......................*/
.zerrendaArruntak{
  padding-left: 5rem;
}
.zerrendaArruntak li p{
  text-indent: 0px;
}
/*Ikasgaien 'section' atalak*/
/*'section' atalaren goiburua*/
.ikasgaia{
  margin-top:1rem;
  margin-bottom: 1rem;
  padding:1rem;
}
.ikasgaiBurua{
  text-align: center;
}
.ikasgaiBurua h2{
  margin-bottom: .6rem;
  font-size: 50px;
}
.ikasgaiBurua .saioAtalak{
  text-align: center;
}

/*'section' ataleko artikuluaren burua*/
.saioAzpiatalak{
  padding-left: 60px;
  padding-bottom: 30px;
}
.azpiatala:hover{
  font-size: 1.4em;
  color: #107a02;
}
.azpiatalBurua{
margin-top: 1rem;
}
/*'section' atalaren goiburua*/

/*ireki-itxi egiten duen menu hegalaria ------------HASI---- */
.nabimenua{
  display:none;
  z-index:1;
  min-width: 150px;
  background-color: rgba(204, 203, 203, 1);
  color:#110392;
  height: 100%;
  width: 200px;
  position: fixed !important;
  overflow: auto;
  top: 0;
  position: relative;
  text-align: right;
  animation: animateleft 0.4s;
}
@keyframes ezkerreraEraman {
  from {
      left: -300px;
      opacity: 0
  }
  to {
      left: 0;
      opacity: 1
  }
}
.nabimenua a{
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    color: inherit;
    cursor: pointer;
    width: 100%;
}
.gidaBtn{
  border:#110392 solid .5px;
  border-radius: 5px;
  margin-bottom:5px;
}
.nabimenua a:hover{
  color: #270388 !important;
  background-color: #a7a7a7 !important;
}
.menuBtnItxi{
  color: red;
  cursor: pointer;
  text-align: right;
  font-size: large;
  padding: 10px;
}
.menuBtnItxi:hover{
  background-color: #a7a7a7 !important;
  color: #270388 !important;
}
/*ireki-itxi egiten duen menua --------------------HONAINO */

/* Azaleko orriarentzako erregelak -----------HASI--*/
/*-------------Gida didaktiko, glosario eta material osagarrien GRID-aren erregelak--*/
.gidatala{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-items: center;
}
.gida{
  text-align: center;
  box-shadow:1px 1px 1px 4px rgba(50, 50, 250, 0.2);
  padding: 20px;
  height: 300px;
}
.gida:hover{
  box-shadow: 0 4px 10px 0 rgba(97, 178, 250, 0.2), 0 4px 50px 0 rgba(1, 141, 247, 0.19);
}

/*--------------Ikasgaien GRID-ari dagozkion erregelak--*/
.gidagaia{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-items: center;
}
.gidagai{
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(43, 114, 1, 0.16), 0 2px 10px 0 rgba(37, 156, 1, 0.12);
  min-height: 400px;
  padding: 20px;
  height: 300px;
}
.gidagai:hover{
  box-shadow: 0 4px 10px 0 rgba(59, 158, 4, 0.2), 0 4px 50px 0 rgba(58, 180, 4, 0.19);
}
.gidagai ul{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
.gida i{
  font-size: xx-large;
}
.gida h3{
  font-size: 1.4em;
}
.gida p{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
.gidagai p{
  text-align: left;
  font-size: 1.15em;
  font-weight: 200;
}
.gidagai a{
  color:#110392;
}
.gidagai h3{
  font-size: 1.4em;
  color:#027908;
}

/* Azaleko orriaren mamiarentzako erregelak -----------BUKA--*/

/*Oinarentzako erregelak orri guztientzat berdinak ------HASI----------- */
footer{
  padding: 25px;
  background: #ccc;
  text-align: center;
}

footer span{
  color:#110392;
  cursor: pointer;
  font-size: x-large;
}
footer span:hover{
  color:#176802;
}
footer a{
  color: #110392;
}
footer a:hover{
  color: #107a02;
}
/*Oinarentzako erregelak orri guztientzat berdinak ------BUKA----------- */

/*Orrialdearen goiburura joateko botoiaren ezaugarriak HASI --------------*/ 
.toTop {
    border: none;
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    /* posición */
    position: fixed; right: 1rem; bottom: 10rem; z-index: 9999;
  }
  .toTop:not(.is-visible) {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-2rem);
  }
  .toTop svg {
    stroke-width: 3px;
    stroke: currentColor;
    fill: none;
    width: 24px;
    height: 40px;
  }
  /* Personalizar */
  .toTop {
    background-color: rgb(20, 4, 112);
    box-shadow: 0 1px 3px rgba(204, 203, 203, 0.5);
    border-radius: 0.5rem;
    padding: 0.75rem;
    color: #fff;
  }
  /*Orrialdearen goiburua joateko botoiaren ezaugarriak BUKA --------------*/

  

  /*Bideo eta Azterketa (Lantegia) eremuaren ezaugarriak HASI --------------*/
  /*Bideoaren kokapenaren ezaugarriak--------------*/
  .bideontzia {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .bideontziBurua {
    width: 90%;
    margin:0 auto;
    text-align:center; 
    font-size: 28px;
    color:#110392; 
  }
  .bideontzia iframe {
    position: absolute;
    padding: 5px;
    top: 2;
    left: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .bideoGidoia{
    padding:1.5rem;
  }
  ::-webkit-scrollbar {
    display: none;
}
.ikasgai-leihoa{
  width:75%;
  margin: 0 auto;
  background: rgba(50, 50, 250, 0.2);
  box-shadow:1px 1px 8px 8px rgba(50, 50, 250, 0.2);
  padding: .3rem;
}
  /*---------------Azterketak. Botoia, bai bideoarena, bai azterketarena*/
  .azterMartxa{
    cursor: pointer;
  }
  .azterMartxa:hover{
    padding-top: 1rem;
  }
  .galderontzia{
    padding: 0;
    background: #ccc;
  }
/*Ikasgaietako gida didaktikoaren akordiona-------*/
.saioAtalak-lau{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  position: absolute;
  top: 2.5em;
  left: 5px;
  width: 30%;
  height: 4em;
}
.saioAtalak-bi{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: .5rem;
  position: absolute;
  top: 8em;
  left: 5px;
  width: 60%;
  height: 4em;
}
.gidontziburua{
  width: 100%;
  padding: .5rem 2rem;
  text-align: center;
  background-color: #043797;
  color:#fff; 
  cursor: pointer;
}
.gidontziburua h5{
  color:#fff;
  font-size: large; 
}
.gidontziburua:hover{
  background-color: #026716;
}
.akordeoiontzia {
  padding: 0;
  margin:0;
  display: none;
  overflow: hidden;
}
.akordeoiontzia .garrantzi-oinarrizko{
 text-align: left;
}
.akordeoiontzia ul{
  list-style: none;
}
.gidakordiona  h4{
  font-size: 1.2em;
}
.gidakordiona  h6{
  font-size: 1em;
  margin-bottom: .5rem;
}

/*Ikasgaietako gida didaktikoaren akordiona------- KITTO*/ 

/*Lantegi txikia botoiaren ezaugarriak BUKA --------------*/

.saioAzpiatalak span{
  text-align: center;
}


/*Ikasgaietako gida didaktikoaren akordiona-------*/
  /*Webguneak saileko azterketako eremua  HASI*/
 .azterrontziBurua{
  border-bottom: .5rem #110392 solid;
  text-align: center;
  color: #fff;
}
.azterrontzia{
  content: "";
  display: table;
  clear: both;
  padding: 0.01em 16px;
  display: none
}
 .grid-container {
  padding:3rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  text-align: left;
  font-size: 1em;
}
.eranLekua{
	font-size:.0.2em;
	background:rgb(233, 232, 232);
	text-align:left;
	color:rgb(1, 1, 73);
}
.azterBotoia{
  text-align: center;
}
form{
  padding:.5rem;
  }
  fieldset{
    border:.05rem solid #110392;
  }
.labela{
  margin-left:5px;
  font-size: 14px;
}
legend{
  font-size: 16px;
  color: #110392;
}
.azterrontziOina{
  text-align:center;
}
.azterrontziOina p{
  font-size: 1.5rem;
  font-family: monospace;
}
.azterrontziOina button{
  background-color: rgb(4, 185, 13);
  color:white; 
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 1.5em;
}
.azterrontziOina button:hover{
  background-color: rgb(6, 248, 18); 
}
  /*Webguneak saileko azterketako eremua  BUKA*/

  /*Lengoaiak saileko lantegiko eremua  HASI*/
.lengoaiGaldetegia{
  background: #ccc;
  text-align: center;
}
.lengoaiGaldera{
  font-size: 1.2em;
  }
.lengoaiAukerak{
  margin:1.3rem;
  padding: 1rem;
}
.lengoaiEmaitza{
  padding: 1.2rem;
  font-size: 1.3em;
  text-align: center;
}
lengoaiaBotoia {
  margin-top: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}
lengoaiaBotoia:hover {
  background-color: #04f510;
}
  
  /* Style the side navigation */
  .sidenav {
    margin-top: 65px;
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: #110392;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a{
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color: #a8bcf3;
    color: black;
  }
  
  /* Style the content */
  .content {
    margin-left: 25%;
    padding-left: 20px;
  }
  
@media (max-width: 1200px) {
  .ikasgai-leihoa{
    width:85%;
  }
  header h1{
    font-size: 55px;
    font-weight: 600;
    }
  .izenburua h1{
    font-size: 40px;
  }
  .ikasgaiBurua h2{
    margin-bottom: 30px;
    font-size: 35px;
  }
  .zerrendaArruntak{
    padding-left: 2rem;
  }
  .gidatala{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .gidagaia{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .gidagaia img{
    width: 30%;
  }
  .galdetegia{
    background: #ccc;
    border-radius: 20px;
    width: 100%;
  }
  .artikulua{
    margin-left: 10px;
    margin-right: 10px;
  }
  .praisikon{
    width: 150px;
  }
  .praisikonoa{
    width: 150px;
  }
  .praisikonoa:hover{
    width: 175px;
  }
}
@media (max-width: 720px) {
  .saioAtalak-lau{
    display: grid;
    top: 1.5em;
    grid-template-columns: auto auto;
    gap: .5rem;
  }
    .goiburua .titulu-nagusia h1{
      font-size: 1em;
    }
    .goiburua .prais-ikonoa img{
      align-content: center;
      width: 80px;
    }
    .saioAtalak-bi{
      display: grid;
      grid-template-columns: auto;
      gap: .5rem;
      top: 8em;
      left: 5px;
      width: 16em;
      height: 8em;
    }
  pre{
    width: 100%;
  }
  .ikasgai-leihoa{
    width:100%;
  }
  img{
    width: 100%;
  }
  .saioAtalak{
    display: grid;
    grid-template-columns: auto;
  }
  .grid-container {
    padding: 0;
    width: 100%;
    padding: 2px;
    background-color: #2196F3;
  }
  .praisikonoa{
    width: 5rem;
  }
  header{
    height: 250px;
  }
  header h1{
    font-size: 35px;
    font-weight: 600;
    }
    header span{
      font-size: large;
    }
    main{
      width: 90%;
    }
    footer span{
      font-size: large;
    }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 14;
  }
  h5{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  .zerrendaArruntak{
    padding-left: 1.2rem;
  }
  .izenburua h1{
    font-size: 18px;
  }
  .ikasgaiBurua h2{
    margin-bottom: 30px;
    font-size: 25px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
  }
  .toTop {
    /* posición */
    position: fixed; right: 10rem; bottom: 10rem; z-index: 9999;
  }
  .praisikon{
    width: 100px;
  }
  .praisikonoa{
    width: 100px;
  }
  .praisikonoa:hover{
    width: 100px;
  }
}

@media (max-width: 500px) {
  img{
    width: 100%;
  }
  main{
    width: 90%;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 18px;
  }
  h4{
    font-size: 16;
  }
  .izenburua h1{
    font-size: 18px;
    text-align: center;
  }
  .izenburua h3{
    display: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
  }
}

